<h2><%= item.name%></h2>
<div class="item-details">
    <div class="">
        <img src="<%= item.coverImagePath %>" width="200" height="266.67" alt="">
        <div class="">
            <% if(isOwned){ %>
            <a href="/items/<%=item.id%>/edit" class="btn">Edit</a>
            <% } %>
            <a href="/users/<%= item.user.id %>" class="btn btn-warning ">View Owner</a>
        </div>
    </div>
    <div class="item-details-grid">
        <div class="book-details-label">Owner:</div>
        <div><%= item.user.name %></div>
        <div class="book-details-label">Item Type:</div>
        <div><%= item.type %></div>
        <div class="book-details-label">Description:</div>
        <div><%= item.description %></div>
    </div>
</div>